.dropdown {
    display: flex;
    flex-direction: column;
    z-index: 100px;
}

.header {
    width: 13vw;
    padding-left: .5vw;
    padding-right: .5vw;
    height: 3vw;
    background-color: #DFF2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .6vw;
    border: solid;
    border-color: #BFC6E2;
    border-width: 3px;
}

.entries {
    margin-left: 3px;
    margin-right: 3px;
}