.filter-bubble {
    height: 3.5vh;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5vh;  
    padding-left: .5vw;
    padding-right: .5vw;
    border-radius: 2vh;
    font-size: 2.2vh;
    font-family: "Montserrat", sans-serif;
    margin: 3px 3px 0px 1px;
}

.include-bubble {
    background-color: #3EEAA3;
    border-color: #205E42;
}

.exclude-bubble {
    background-color: #EE9292;
    border-color: #813333;
}