.top-bar {
    background-color: #D8FCFF;
    height: 10vh;
    width: 100%;
    z-index: 50;
}

.navbar-content {
    padding : 1.7vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: .6vw;
    padding-left: 1.2vw;
    z-index: 50;
    justify-content: space-between;
}

.active-filters-container {
    display: inline;
    flex-direction: row;
    width: 45%;
}

.clear-all-button {
    padding: .5vh;
    width: 10%;
    text-align: center;
    background-color: #DFF2FF;
    border: solid 2px;
    border-color: #BFC6E2;
    border-radius: 2vh;
    margin-top: .75vh;
}