.top-bar {
    background-color: #D8FCFF;
    height: 10vh;
    width: 100%;
    z-index: 100;
}

.navbar-content {
    padding : 1.7vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: .6vw;
    padding-left: 1.2vw;
    z-index: 100;
}

.active-filters-container {
    display: inline;
    flex-direction: row;
}